{% extends "base.html" %} 
{% block title %}Последние обновления{% endblock %}
{% block header %}Последние обновления{% endblock %}
{% block content %}
  <div class="container">
    {% include "include/menu.html" with index=True %}
    {% load cache %}
    {% cache 20 index_page page.number user %} 
      {% for post in page %}
        {% include "include/post_item.html" with post=post %}
      {% endfor %}
    {% endcache %}
    {% if page.has_other_pages %}
      {% include "include/paginator.html" with items=page paginator=paginator%}
    {% endif %}
  </div>    
{% endblock %}